<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Summarization</title>
</head>
<body>
    <h1>Welcome to Audio Summarization</h1>
    <form action="{{ url_for('summarize_audio') }}" method="post" enctype="multipart/form-data">
        <label for="audioFile">Select Audio File:</label>
        <input type="file" id="audioFile" name="audioFile" accept=".wav, .mp3" required>
        <br>
        <button type="submit" value="Upload File">Summarize Audio</button>
    </form>
</body>
</html>
